.footer {
  background: #202020;
  padding: 79px 70px 20px 70px;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.footer__section {
  text-align: center;
  color: #8B8B8B;
  margin: 0 auto 20px auto;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.footer__copyright {
  color: #FFFFFF;
  margin: 0;
}

.footer__links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.footer__link {
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 20px;
}

.footer__link:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 79px 10px 10px 10px;
  }
}

@media screen and (max-width: 520px) {
  .footer {
    padding: 79px 30px 20px 30px;
  }

  .footer__section {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 21px;
    margin: 0 auto 30px;
  }

  .footer__info {
    flex-direction: column-reverse;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    color: #8B8B8B;
  }

  .footer__links {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 0 30px 0;
  }

  .footer__link {
    margin: 0 0 12px 0;
  }
}

